<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CsvDataTable" version="1.0.4" targetFramework="net35" />
  <package id="CsvTools" version="1.0.12" targetFramework="net35" />
  <package id="DocumentFormat.OpenXml" version="1.0" targetFramework="net35" />
  <package id="LumenWorks.Framework.IO" version="3.8.0" targetFramework="net35" />
  <package id="Microsoft.ReportViewer.Common.v12" version="12.0.0.1" targetFramework="net35" />
  <package id="Microsoft.ReportViewer.WinForms.v12" version="12.0.0.1" targetFramework="net35" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net35" />
</packages>